# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt
# Credit: https://github.com/lingthio/Flask-User-starter-app/blob/master/requirements.txt

flask
gunicorn